fieldset {
  border: 1px solid rgba(9,30,66,.13);
  margin: 0 2px 4px 2px;
}

input[type="radio"] {
  padding-right: 4px;
}

label {
  display: unset;
  font-weight: unset;
  margin-bottom: unset;
}

legend {
  font-weight: bold;
  padding: 0 4px;
}

.radios {
  padding-left: 4px;
}

.radio-option {
  padding-bottom: 4px;
}

.opts-group {
  margin-bottom: 8px;
}
